.grid-container {
  display: grid; /* Sets the element as a grid container */
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Defines the number and size of the columns in the grid */
  grid-gap: 10px; /* Sets the gap between grid items */
  padding: 10px; /* Sets the padding inside the grid container */
  border: slateblue 15px solid; /* Sets the border style, color, and width of the grid container */
}

.grid-item {
  background-color: #ddd; /* Sets the background color of the grid items */
  padding: 20px; /* Sets the padding inside the grid items */
  font-size: 25px; /* Sets the font size of the text inside the grid items */
  text-align: center; /* Sets the alignment of the text inside the grid items */
}

* {
  box-sizing: border-box; /* Applies the border-box box-sizing model to all elements */
}
